{{!-- Charlotte Helper - O mascote assistente --}}
<div class="charlotte-helper" id="charlotte-helper" title="Olá, viajante das sombras. Eu sou Charlotte 🌙">
    <div class="charlotte-helper-avatar">
        <img src="{{asset "images/Charlotte.png"}}" alt="Charlotte - Mascote da GinanRM">
    </div>
</div>

